<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cnstr" connectionString="Data Source=.;Initial Catalog=IFMS;Integrated Security=True;User ID = sa; Password=pass@word1"/>
  </connectionStrings>
  <appSettings>
    <add key="SharePointOnPremURL" value="http://sp2016/"/>
    <add key="UserName" value="administrator@demodomain.com"/>
    <add key="Password" value="pass@word1"/>
    
    <add key="CleansingDays" value="3" />
    
    <!--Start Of Email Settings-->
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="From" value="LocalKen@mastersystem.co.id" />
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="LDAPPath" value="LDAP://DC=demodomain,DC=com"/>

    <add key="SMTPUser" value="vioser7@gmail.com" />
    <add key="SMTPPass" value="b1223smz"/>
    <!--End Of Email Settings-->
    
    
    <!--For Test SMTP Email -->
    <add key="TestSendEmail" value="0"/>
    <add key="TestSendTo" value="kennycassandra@outlook.com"/>
  </appSettings>
</configuration>