<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cnstr"

    connectionString="Data Source=.;Initial Catalog=IFMS;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="SharePointURL" value="https://btpns.sharepoint.com/sites/ifms/"/>
    <add key="LoginAccount" value="devif01@mail.btpnsyariah.com"/>
    <add key="PassAccount" value="Btpnsyariah.1"/>

    
  </appSettings>
</configuration>